
.avatar {
    height: 350px;
    width: 350px;
    margin: 200px;
    border-radius: 10px;
}

.containerBackground {
    color: rgb(30, 35, 39);
    font-size: 25px;
    padding: 20px;
    background: rgb(30, 35, 39, .9);
    border-radius: 10px;
    margin: 150px 50px;
    text-align: center;
}

.about-title {
    color: white;
    font-weight: bold;
}

.aboutInfo {
    color: #1e2327;
    font-size: 25px;
    height: 300px;
    width: 600px;
    padding: 20px;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
}

.containerInfo {
    display: flex;
}