.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    background-image: radial-gradient(circle at 99% 33%, rgba(122,122,122, 0.06) 0%, rgba(122,122,122, 0.06) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, rgba(122,122,122, 0.06) 0%, rgba(122,122,122, 0.06) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, rgba(122,122,122, 0.06) 0%, rgba(122,122,122, 0.06) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, rgba(122,122,122, 0.06) 0%, rgba(122,122,122, 0.06) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, rgba(122,122,122, 0.06) 0%, rgba(122,122,122, 0.06) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgba(0,0,0, 0.93),rgba(0,0,0, 0.93));
}

.infoContainer {
    color: rgb(30, 35, 39);
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    background: rgb(30, 35, 39, .9);
    border-radius: 10px;
    width: 90%;
}


.infoContainer h1 {
    color: white;
    font-weight: bold;
    padding-left: 15px;
}

.infoContainer p {
    color: #1e2327;
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
}

.aboutContainer img {
    height: 350px;
    width: 350px;
    margin: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 1025px) {
    .infoContainer, .infoContainer p {
        font-size: 18px;
    }
    .aboutContainer img {
        height: 250px;
        width: 250px;
    }
}

@media screen and (max-width: 700px) {
    .aboutContainer  {
        flex-direction: column;
        padding-top: 10%;
    }
    .infoContainer {
        width: 90%;
    }
}

@media screen and (max-width: 510px) {
    .aboutContainer img {
        height: 200px;
        width: auto;
    }
    .infoContainer, .infoContainer p {
        font-size: 13px;
    }
    .infoContainer {
        padding: 10px;
    }
}

@media screen and (max-height: 800px) {
    .aboutContainer {
        height: auto;
    }
}