.contactContainer {
    background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128,128,128, 0) 0%, rgba(128,128,128, 0) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135,135,135, 0.06) 89%, rgba(135,135,135, 0.06) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209,209,209, 0.02) 14%, rgba(209,209,209, 0.02) 60%,rgba(245,245,245, 0) 60%, rgba(245,245,245, 0) 69%,rgba(164,164,164, 0.03) 69%, rgba(164,164,164, 0.03) 100%),linear-gradient(249deg, rgba(248,248,248, 0) 0%, rgba(248,248,248, 0) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202,202,202, 0.02) 35%, rgba(202,202,202, 0.02) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, rgb(28,28,28),rgb(28,28,28));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.formContainer {
    color: rgb(30, 35, 39);
    font-size: 25px;
    padding: 20px;
    background: rgb(30, 35, 39, .9);
    border-radius: 10px;
    margin: 50px;
    text-align: center;
    width: fit-content;
}

.contactForm {
    background: rgb(255, 255, 255, 0.6);
    width: 600px;
    height: auto;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 2;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: vertical;
}

.formContainer h1 {
    color: white;
}

.contactForm button {
    width: 100px;
    background: #1e2327;
    color: white;
    font-weight: bold;
    padding: 5px ;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

textarea {
    font-family: inherit;
}

@media screen and (max-width: 1200px) {
    .contactForm {
        width: 400px;
    }
}

@media screen and (max-width: 800px) {
    .contactForm, .formContainer {
        font-size: 20px;
    }
}

@media screen and (max-width: 560px) {
    .contactForm {
        width: 300px;
        font-size: 15px;
    }
    .formContainer {
        font-size: 15px;
    }
}

@media screen and (max-width: 420px) {
    .contactForm {
        width: 200px;
    }
}

@media screen and (max-height: 800px) {
    .contactContainer {
        height: auto;
    }
}