:root {
    --border-color: rgb(255, 255, 255, 0.5);
}

.outerContainerHome {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 200px;
}

.initialsContainer {
    height: 155px;
    width: 90px;
    padding-right: 25px;
}

.initials {
    border: 3px solid var(--border-color);
    border-radius: 90px;
    padding: 10px;
    height: 90px;
    width: 90px;
    text-align: center;
    background: rgb(255, 255, 255, 0.6); /*Different opacity to --border-color */
    color: rgb(30, 35, 39, .9);
}

.header {
    border: 3px solid var(--border-color);
    height: 250px;
    width: 500px;
    background: rgb(255, 255, 255, 0.6); /*Different opacity to --border-color */
    text-align: center;
    color: rgb(30, 35, 39, .9);
}

.single-line {
    border-left: 3px solid var(--border-color);
    height: 90px;
}

@media screen and (min-width: 2900px) {
    .outerContainerHome {
        margin-left: 500px;
    }

}

@media screen and (min-width: 2000px) {
    .outerContainerHome {
        margin-left: 300px;
    }

}

@media screen and (max-width: 1400px) {
    .outerContainerHome {
        font-size: smaller;
    }

    .header {
        height: 200px;
        width: 400px;
    }

    .initials {
        margin-top: 40px;
        line-height: 1.8em;
    }
}

@media screen and (max-width: 1170px) {
    .outerContainerHome {
        font-size: smaller;
        padding: 50px 100px
    }

    .header {
        height: 200px;
        width: 400px;
    }

    .initials {
        margin-top: 40px;
        line-height: 1.8em;
    }
}

@media screen and (max-width: 990px) {
    .outerContainerHome {
        font-size: 70%;
        padding: 50px 50px
    }

    .header {
        height: 150px;
        width: 300px;
        padding: 5px;
    }
    
    .initials {
        margin-top: 60px;
        margin-left: 10px;
        line-height: 1.8em;
        height: 70px;
        width: 70px;
    }

    .single-line {
        height: 40px;
    }
}

@media screen and (max-width: 670px) {
    .outerContainerHome {
        font-size: 70%;
        padding: 5px 50px
    }

    .header {
        height: 150px;
        width: 300px;
        padding: 5px;
    }
    
    .initials {
        margin-top: 60px;
        margin-left: 10px;
        line-height: 1.8em;
        height: 70px;
        width: 70px;
    }

    .single-line {
        height: 40px;
    }
}

@media screen and (max-width: 570px) {
    .outerContainerHome {
        font-size: 60%;
    }

    .header {
        height: 150px;
        width: 250px;
        padding: 5px;
    }
    
    .initials {
        margin-top: 60px;
        margin-left: 10px;
        line-height: 1.8em;
        height: 70px;
        width: 70px;
    }

    .single-line {
        height: 40px;
    }
}

@media screen and (max-width: 470px) {
    .outerContainerHome {
        font-size: 60%;
        width: 100px;
    }

    .header {
        height: 150px;
        width: 250px;
        padding: 5px;
        margin-top: 100px;
        margin-left: 100px;

    }
    
    .initials, .initialsContainer, .single-line {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .outerContainerHome {
        font-size: 60%;
    }

    .header {
        height: 140px;
        width: 230px;
        padding: 5px;
        margin-top: 100px;

    }
    
    .initials, .initialsContainer, .single-line {
        display: none;
    }
}