:root {
    --border-color: rgb(255, 255, 255, 0.5);
}

.outerContainer{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 200px;
}

.initialsContainer {
    height: 155px;
    width: 90px;
    padding-right: 25px;
}

.initials {
    border: 3px solid var(--border-color);
    border-radius: 90px;
    padding: 10px;
    height: 90px;
    width: 90px;
    text-align: center;
    background: rgb(255, 255, 255, 0.6); /*Different opacity to --border-color */
    color: rgb(30, 35, 39, .9);
}

.header {
    border: 3px solid var(--border-color);
    height: 250px;
    width: 500px;
    background: rgb(255, 255, 255, 0.6); /*Different opacity to --border-color */
    text-align: center;
    color: rgb(30, 35, 39, .9);
}

.singleLine {
    border-left: 3px solid var(--border-color);
    height: 90px;
}

@media screen and (max-width: 1400px) {
    .outerContainer{
        font-size: smaller;
    }
    .header {
        height: 200px;
        width: 400px;
    }
    .initials {
        margin-top: 40px;
        line-height: 1.8em;
    }
}

@media screen and (max-width: 1170px) {
    .outerContainer{
        padding: 50px 100px
    }
}

@media screen and (max-width: 990px) {
    .outerContainer{
        font-size: 70%;
        padding: 50px 50px
    }
    .header {
        height: 150px;
        width: 300px;
        padding: 5px;
    }
    .initials {
        margin-top: 60px;
        margin-left: 10px;
        height: 70px;
        width: 70px;
    }
    .singleLine {
        height: 40px;
    }
}

@media screen and (max-width: 670px) {
    .outerContainer{
        padding: 5px 50px
    }
}

@media screen and (max-width: 570px) {
    .outerContainer{
        font-size: 60%;
    }
    .header {
        width: 250px;
    }
}

@media screen and (max-width: 470px) {
    .outerContainer{
        margin: 0 auto;
        padding: 0;
    }
}

@media screen and (max-height: 800px) {
    .outerContainer{
        font-size: 70%;
        padding: 0px auto;
    }
    .header {
        height: 150px;
        width: 300px;
        padding: 5px;
    }
    .initials {
        margin-top: 60px;
        margin-left: 10px;
        height: 70px;
        width: 70px;
    }
    .singleLine {
        height: 40px;
    }
}