.navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
    background: #1e2327;
    margin: 0px;
    padding: 30px;
}

.navbarLinkActive {
    border: 3px solid rgba(54, 53, 53, 0.8);
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    text-decoration: underline;
    text-transform: uppercase;
    transition: transform .2s;
}

.navbarLink {
    padding: 20px;
    margin: 20px;
    transition: transform .3s;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbarLink:hover {
    transform: scale(1.4);
}

.navbarLinkActive:hover {
    transform: scale(1.2);
}