.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
    background: #1e2327;
    margin: 0px;
    padding: 10px;
    height: 70px;
}

.navbarLinkActive {
    border: 3px solid rgba(54, 53, 53, 0.8);
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    text-transform: uppercase;
    transition: transform .2s;
}

.navbarLink {
    padding: 10px;
    margin: 10px;
    transition: transform .3s;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbarLink:hover {
    transform: scale(1.2);
}

.navbarLinkActive:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 870px) {
    .navbarLink, .navbarLinkActive {
        padding: 0px;
        font-size: 20px;
    }
}

@media screen and (max-width: 580px) {
    .navbarLink, .navbarLinkActive {
        margin: 10px;
        font-size: 18px;
    }
}

@media screen and (max-width: 435px) {
    .navbarLink, .navbarLinkActive {
        font-size: 15px;
    }
}

@media screen and (max-width: 360px) {
    .navbarLink, .navbarLinkActive {
        margin: 5px;
        font-size: 12px;
    }
}