.containerProjectsPage {
    color: rgb(30, 35, 39);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pageTitle {
    color: rgb(30, 35, 39);
}

.containerProjects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerProjectInfo {
    color: rgb(30, 35, 39);
    font-size: 25px;
    background: rgb(30, 35, 39, .9);
    border-radius: 10px;
    text-align: left;
    width: 600px;
    height: fit-content;
    padding: 20px;
    margin: 50px;

}

.projectCard {
    color: #1e2327;
    font-size: 20px;
    background: rgb(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.note {
    font-style: italic;
    font-size: 15px;
}

.noteHide {
    display: none;
}

.projectLinks {
    background: rgb(30, 35, 39);
    padding: 5px;
    margin: 0px 10px;
    border-radius: 10px;
    transition: transform .2s;
}

.titleBold {
    font-weight: bold;
}

.containerInfoImage {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.projectBackground {
    height: 350px;
    width: 550px;
    padding: 20px;
    transition: transform .2s;
}

.projectBackground:hover, .projectLinks:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1400px) {
    .projectBackground {
        height: 300px;
        width: 500px;
    }

    .containerProjectInfo {
        width: 500px;
    }
}

@media screen and (max-width: 1190px) {
    .projectBackground {
        height: 320px;
        width: 450px;
    }

    .containerProjectInfo {
        width: 400px;
    }
}

@media screen and (max-width: 1025px) {
    .projectBackground {
        height: 320px;
        width: 450px;
    }

    .containerProjectInfo {
        width: fit-content;
    }

    .containerProjectsPage, .projectCard, .note {
        font-size: 15px;
    }

    .containerInfoImage {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .projectBackground {
        height: 250px;
        width: 350px;
    }

    .containerProjectInfo {
        width: fit-content;
    }

    .containerProjectsPage, .projectCard, .note {
        font-size: 15px;
    }

    .containerInfoImage {
        flex-direction: column;
    }
}

@media screen and (max-width: 420px) {
    .projectBackground {
        display: none;
    }

    .containerProjectInfo {
        width: fit-content;
    }

    .containerProjectsPage, .projectCard, .note {
        font-size: 15px;
    }

    .containerInfoImage {
        flex-direction: column;
    }

    .projectLinks {
        margin: 2px;
    }
}